*.pyc
*.pyo
*.log
*.cfg
CQA.key
log.txt
Set.ini
key.ini
config.ini
设置.ini
build
build/*
dist
dist/*
release
release/*
config
config/*
data
data/*
Cache
Cache/*
_Tmp*
temp
temp/*